@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 150px 50px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-links ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.logo {
    font-size: 24px;
    color: #F9FAf8;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.hero-text {
    width: 400px;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.image {
    background-color: #a9a9a9;
    height: 250px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text button {
    color: #ffffff;
    background-color: #3882F6;
    padding: 5px 15px;
    border: 1px solid #3882F6;
    border-radius: 8px;
}

.information-section {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px   ;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.info-box {
    border: 2px solid #3882F6;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.info-text {
    width: 140px;
    text-align: center;
    margin-bottom: 30px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 20px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 60px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 700px;
}

.quote-section .author  {
    align-self: flex-end;
    font-weight: bold;
}

.blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #ffffff;
    gap: 100px;
    padding: 50px 30px;
    margin: 50px 150px;  
    border-radius: 8px;
}

.blue-box button {
    color: #ffffff;
    background-color: #3882F6;
    padding: 5px 15px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    align-self: flex-end;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #f7faf8;
    padding: 30px;
}